<httpHeaderSecurityModule xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd">
  <redirectValidation enabled="true" />
  <x-Robots-Tag enabled="true"
                noIndex="true"
                noFollow="true"
                noArchive="true"
                noOdp="true"
                noSnippet="true"
                noImageIndex="true"
                noTranslate="true"/>
  <securityHttpHeaders>
    <x-Frame-Options policy="SameOrigin"/>
    <x-Content-Type-Options enabled="true" />
    <x-XSS-Protection policy="FilterEnabled" blockMode="true"/>
    <x-Download-Options enabled="true"/>
    <content-Security-Policy enabled="true">
      <default-src self="true" />
      <script-src unsafeInline="true" unsafeEval="true" self="true">
        <add source="https://www.google.com" />
        <add source="https://www.google-analytics.com" />
        <add source="https://cdnjs.cloudflare.com" />
        <add source="https://ajax.aspnetcdn.com/" />
      </script-src>
      <style-src unsafeInline="true" self="true">
        <add source="https://cdnjs.cloudflare.com"/>
      </style-src>
      <img-src self="true">
        <add source="https://az594751.vo.msecnd.net"/>
        <add source="https://www.google.com"/>
        <add source="https://www.google-analytics.com" />
      </img-src>
      <font-src>
        <add source="https://cdnjs.cloudflare.com"/>
      </font-src>
      <object-src none="false" />
      <media-src none="false" />
      <frame-src none="false" />
      <connect-src none="false" />
      <frame-ancestors none="false" />
      <report-uri enableBuiltinHandler="true" />
    </content-Security-Policy>
  </securityHttpHeaders>
</httpHeaderSecurityModule>
